{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 80,
  "trailingComma": "none",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "useTabs": false
}
